<div class="b-black" [ngClass]="cardModalService.hide">
    <div class="modal" style="display: block;" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New Product</h5>
                    <button (click)="cardModalService.close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">



                    <form [formGroup]="formProduct" (ngSubmit)="save()">

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input formControlName="name" type="text" class="form-control">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Image</label>
                            <div class="col-sm-10">
                                <div class="custom-file">
                                    <input width="" formControlName="img" type="file" (change)="onUpload($event)" class="custom-file-input">
                                    <label class="custom-file-label" for="customFileLang">{{nameFile}}</label>
                                </div>
                                <div *ngIf="uploadPercent > 0" class="progress my-2">
                                    <div class="progress-bar bg-success" role="progressbar" [attr.ariavaluenow]="uploadPercent" [style.width]="uploadPercent + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <div *ngIf="uploadPercent === 100">
                                    <i class="far fa-check-circle"></i> Completed!!
                                </div>

                            </div>

                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <input formControlName="information" type="textarea" class="form-control" id="inputPassword">
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Price</label>
                            <div class="col-sm-10">
                                <input formControlName="price" type="Number" class="form-control">
                            </div>
                        </div>


                        <div class="form-group d-flex justify-content-end">

                            <button [disabled]="fbservice.urlImg === undefined || formProduct.status === 'INVALID'" type="submit" class="btn btn-primary text-center">Add</button>

                        </div>

                    </form>



                </div>

            </div>
        </div>
    </div>

</div>