<div class="b-black" [ngClass]="cardModalService.hideEdit">
    <div class="modal" style="display: block;" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title b-color title-modal">Update Product</h5>
                    <button (click)="close()" type="button" mat-mini-fab color="warn" data-dismiss="modal" aria-label="Close">X</button>

                </div>
                <div class="modal-body">



                    <form [formGroup]="formEditProduct" (ngSubmit)="edit()">

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label b-color input-form">Name</label>
                            <div class="col-sm-10">
                                <input formControlName="name" type="textarea" class="form-control">
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label b-color input-form">Image</label>
                            <div class="col-sm-10">
                                <div class="custom-file">
                                    <input (change)="onUpload($event)" formControlName="img" type="file" class="custom-file-input">
                                    <label class="custom-file-label b-color input-form" for="customFileLang b-color ">{{nameFile}}</label>
                                </div>
                                <div *ngIf="uploadPercent> 0" class="progress my-2">
                                    <div class="progress-bar bg-success" role="progressbar" [attr.ariavaluenow]="uploadPercent" [style.width]="uploadPercent + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <div class="b-color" *ngIf="uploadPercent === 100">
                                    <i class="far fa-check-circle"></i> Completed!!
                                </div>
                                <div class="text-info" role="alert" *ngIf="fbservice.urlImg === undefined">
                                    Select a new image
                                </div>
                            </div>

                        </div>


                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label b-color input-form">Description</label>
                            <div class="col-sm-10">
                                <input formControlName="information" type="textarea" class="form-control" id="inputPassword">
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Price</label>
                            <div class="col-sm-10">
                                <input formControlName="price" type="Number" class="form-control">
                            </div>
                        </div>


                        <div class="form-group d-flex justify-content-end">

                            <button type="submit" mat-raised-button color="primary">Update</button>


                        </div>

                    </form>



                </div>

            </div>
        </div>
    </div>

</div>