<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor="let item of items | async">
        <div class="card h-100">
            <img [src]="item.img" width="200" height="200" class="card-img-top" [alt]="item.name">
            <div class="card-body">
                <h5 class="card-title text-center">{{item.name}}</h5>
                <p class="card-text text-wrap">{{item.information}}</p>


                <br>
                <div class="d-flex justify-content-between">

                    <a [routerLink]="['/details', item.id]" class="d-flex justify-content-between" href="#">More info..</a>

                    <p><strong>Price: </strong><span>{{item.price}} $</span></p>
                    <div class="d-flex justify-content-between">

                        <a href="#" (click)="edit(item, item.id)">
                            <i class="fas fa-edit"></i>
                        </a>


                        <a href="#" class="ml-2" (click)="delete(item.id)">
                            <i class="fas fa-trash-alt"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>